@model IEnumerable<eGames.Models.Vencedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Partida.Premiacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Partida.Premiacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VencedorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VencedorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VencedorId })
        </td>
    </tr>
}

</table>
