@model IEnumerable<AppBalada.Models.Ingresso>

@{
    ViewBag.Title = "Index";


}

<h2>Index</h2>
@ViewBag.Contador;


<p>
    @Html.ActionLink("Create New", "Create")
</p>



@using (Html.BeginForm())
{
    <p>
        Find by name:@Html.TextBox("pesquisa")
        <input type="submit" value="Search">
    </p>



}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bilheteria.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evento.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVip)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bilheteria.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVip)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IngressoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.IngressoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IngressoId })
            </td>
        </tr>
    }

</table>
